{% extends "base.html.twig" %}

{% block hero %}
    <section
            class="hero text-center"
            style="background-image: url('{% if post.get_field('header_background') %}{{ TimberImage(post.get_field('header_background')).src }}{% else %}{{ hero_background.url }}{% endif %}')"
    >
        <div class="content row column">
            <h1>{% if post.get_field('header_heading') %}{{ post.get_field('header_heading') }}{% else %}{{ post.title }}{% endif %}</h1>
            <img src="{{post.thumbnail.src}}" class="my-thumb-class" alt="Image for {{post.title}}" />

        </div>
        <div class="share row align-bottom">
            <div class="small-12 medium-4 columns medium-text-left">
                <a href="{{ shop_url }}" class="back"><i class="fa fa-th"></i> Back to Shop</a>
            </div>
            <div class="small-12 medium-4 columns">
                <h6>Share the Love!</h6>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>
            </div>
            <div class="small-12 medium-4 columns"></div>
        </div>
    </section>
{% endblock %}

{% block body %}
    {% do action('woocommerce_before_single_product') %}
    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{post.class}}">
        <div class="row overview">
            <div class="small-12 medium-6 columns">
                <div class="row align-middle">
                    <div class="small-12 large-6 columns">
                        <h3>{{ post.get_field('small_heading') }}</h3>
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="small-12 large-6 columns large-text-right">
                        <span class="weight">
                            {% if product.has_weight() %}
                                {{ product.get_weight() }} LBS.
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        <div class="stars">
                            {% for i in range(1,5) %}
                                {% if product.get_average_rating() >= i %}
                                    <i class="fa fa-star"></i>
                                {% elseif product.get_average_rating() >= i - 0.5 %}
                                    <i class="fa fa-star-half-o"></i>
                                {% else %}
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="reviews">
                            {{ product.get_review_count() }} Reviews
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-4 columns Large-text-center">
                        <a href="{{ function('do_shortcode', '[add_to_cart_url id="'~product.id~'"]') }}" class="expand secondary button add-wishlist">Add to Cart | ${{ product.get_price() }}</a>
                    </div>
                    <div class="small-12 medium-6 large-4 columns large-text-center">
                        <a href="{{ function('do_shortcode', '[add_to_cart_url id="'~product.id~'"]') }}" class="expand primary button add-cart">Add | ${{ product.get_price() }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column short-description">
            {{ product.post.post_excerpt }}
        </div>
        <div class="contents">
            <div class="row column title">
                <h3>Whats inside</h3>
                <span class="linethrough"></span>
            </div>
            <div class="row align-center list">
                <div class="shrink column">
                    <ul class="no-bullet">
                        {% for item in acf.inside.value %}
                            {% if loop.index % 2 %}
                                <li><a href="{{ item.url }}"><i class="fa fa-check"></i> {{ item.text }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="shrink column">
                    <ul class="no-bullet">
                        {% for item in acf.inside.value %}
                            {% if not loop.index % 2 %}
                                <li><a href="{{ item.url }}"><i class="fa fa-check"></i> {{ item.text }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row column title">
                <h3>100% Satisfaction Guaranteed</h3>
                <span class="linethrough"></span>
            </div>
            <div class="row points text-center">
                <div class="small-12 medium-6 large-3 columns">
                    <div class="point">
                        <img src="{{ acf.highlights.value[0].image.url }}" />
                        <h5>{{ acf.highlights.value[0].heading }}</h5>
                        <div>{{ acf.highlights.value[0].content }}</div>
                    </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <div class="point">
                        <img src="{{ acf.highlights.value[1].image.url }}" />
                        <h5>{{ acf.highlights.value[1].heading }}</h5>
                        <div>{{ acf.highlights.value[1].content }}</div>
                    </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <div class="point">
                        <img src="{{ acf.highlights.value[2].image.url }}" />
                        <h5>{{ acf.highlights.value[2].heading }}</h5>
                        <div>{{ acf.highlights.value[2].content }}</div>
                    </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <div class="point">
                        <img src="{{ acf.highlights.value[3].image.url }}" />
                        <h5>{{ acf.highlights.value[3].heading }}</h5>
                        <div>{{ acf.highlights.value[3].content }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'woocommerce/related-products.html.twig' %}


        {#
        <div class="entry-images">
            {% do action('woocommerce_before_single_product_summary') %}
        </div>
        <div class="summary entry-summary">
            {% do action('woocommerce_single_product_summary') %}
        </div>
        {% do action('woocommerce_after_single_product_summary') %}
        #}

        <meta itemprop="url" content="{{ post.link }}" />
    </article>
    {% do action('woocommerce_after_single_product') %}
{% endblock  %}
