<html {{ site.language_attributes }} class="no-js">
<head>
    {% block meta %}
        <meta charset="{{ site.charset }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link rel="pingback" href="{{ site.pingback_url }}" />

        {% if favicon %}
            <link rel="icon" type="image/x-icon" href="{{ favicon.url }}" />
        {% endif %}

        {% block meta_title %}
            <title>
                {% if wp_title %}
                    {{ wp_title }} - {{ site.name }}
                {% else %}
                    {{ site.name }}
                {% endif %}
            </title>
        {% endblock %}
    {% endblock %}

    {% block stylesheets %}
        {{ function('wp_head') }}
    {% endblock %}
</head>
<body class="{{ body_class }}">
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                <a class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </a>

                {{ small_menu }}
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                {% block header %}
                    <div data-sticky-container>
                        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
                            <div class="row column">
                                <div class="title-bar-left">
                                    {{ large_menu }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block body %}
                    <main class="content">
                        <div class="row column">
                            <article>
                                {% block title %}
                                    <h1>{{ post.title }}</h1>
                                {% endblock %}
                                {% block content %}
                                    {{ post.content }}
                                {% endblock %}
                            </article>
                        </div>
                    </main>
                {% endblock %}

                {% block footer %}
                    <div class="row column">Copyright {{"now"|date('Y')}}</div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block scripts %}
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
