<html {{ site.language_attributes }} class="no-js">
<head>
    {% block meta %}
        <meta charset="{{ site.charset }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link rel="pingback" href="{{ site.pingback_url }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        {% if favicon %}
            <link rel="icon" type="image/x-icon" href="{{ favicon.url }}" />
        {% endif %}

        {% block meta_title %}
            <title>
                {% if wp_title %}
                    {{ wp_title }} - {{ site.name }}
                {% else %}
                    {{ site.name }}
                {% endif %}
            </title>
        {% endblock %}
    {% endblock %}

    {% block stylesheets %}
        {{ function('wp_head') }}
    {% endblock %}
</head>
<body class="{{ body_class }}">
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                <a class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </a>
                {{ small_menu }}
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                {% block header %}
                    <div data-sticky-container>
                        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
                            <div class="row column">
                                <div class="title-bar-left">
                                    {{ large_menu }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block hero %}
                    <section
                            class="hero text-center"
                            style="background-image: url('{% if post.get_field('header_background') %}{{ TimberImage(post.get_field('header_background')).src }}{% else %}{{ hero_background.url }}{% endif %}')"
                    >
                        <div class="row column">
                            <div class="content">
                                {% if title is defined and title %}
                                    <h1>{{ title }}</h1>
                                {% else %}
                                    <h1>{% if post.get_field('header_heading') %}{{ post.get_field('header_heading') }}{% else %}{{ post.title }}{% endif %}</h1>
                                {% endif %}
                                {{ post.get_field('header_content') | wpautop}}
                            </div>
                            {% if post.get_field('header_share') %}
                                <div class="share">
                                    <h6>Share the Love!</h6>
                                    <span class="st_facebook_custom" displaytext="Facebook" st_processed="yes"></span>
                                    <span class='st_instagram_custom' displayText='Tweet'></span>
                                    <span class='st_pinterest_custom' displayText='Pinterest'></span>
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {% endblock %}

                {% block body %}
                    <main class="content">
                        <div class="row column">
                            <article>
                                {% block title %}
                                    <h1>{{ post.title }}</h1>
                                {% endblock %}
                                {% block content %}
                                    {{ post.content }}
                                {% endblock %}
                            </article>
                        </div>
                    </main>
                {% endblock %}

                {% block footer %}
                    <footer class="footer">
                        <div class="row top">
                            <div class="small-12 large-4 columns"><ul class="no-bullet">{{ footer_1 }}</ul></div>
                            <div class="small-12 large-8 columns">
                                <div class="row">
                                    <div class="small-12 medium-4 columns"><ul class="no-bullet">{{ footer_2 }}</ul></div>
                                    <div class="small-12 medium-4 columns"><ul class="no-bullet">{{ footer_3 }}</ul></div>
                                    <div class="small-12 medium-4 columns"><ul class="no-bullet">{{ footer_4 }}</ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="row bottom align-middle">
                            <div class="shrink column medium-order-2">
                                <ul class="horizontal menu follow">
                                    {% if youtube %}<li><a href="{{ youtube }}" target="_blank" class="icon-youtube"></a></li>{% endif %}
                                    {% if facebook %}<li><a href="{{ facebook}}" target="_blank" class="icon-facebook"></a></li>{% endif %}
                                    {% if instagram %}<li><a href="{{ instagram }}" target="_blank" class="icon-instagram"></a></li>{% endif %}
                                    {% if pinterest %}<li><a href="{{ pinterest }}" target="_blank" class="icon-pinterest"></a></li>{% endif %}
                                </ul>
                            </div>
                            <div class="expand column medium-order-1">
                                {% if copyright %}{{ copyright }}{% else %}&copy; {{ 'now'|date('Y') }} All Rights Reserved{% endif %}
                            </div>
                        </div>
                    </footer>
                {% endblock %}

                {% block scroll %}
                    <a class="scroll-top"><i class="fa fa-angle-double-up"></i></a>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block scripts %}
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
