<div class="column text-center">
    {% block product_before %}{% endblock %}
    {% block product_image %}
        {% if function("get_the_post_thumbnail", post.ID) %}
            {{ function("get_the_post_thumbnail", post.ID) }}
        {% else %}
            <img src="/wp-content/plugins/woocommerce/assets/images/placeholder.png" alt="">
        {% endif %}
    {% endblock %}
    {% block product_title %}<h4>{{ post.post_title }}</h4>{% endblock %}
    {% block product_weight %}
        <div class="weight-container">
            <div class="bar"></div>
            <div class="weight">{{ product.get_weight() }} lbs.</div>
        </div>
    {% endblock %}
    {% block product_rating %}
        <div class="stars">
            {% for i in range(1,5) %}
                {% if product.get_average_rating() >= i %}
                    <i class="fa fa-star"></i>
                {% elseif product.get_average_rating() >= i - 0.5 %}
                    <i class="fa fa-star-half-o"></i>
                {% else %}
                    <i class="fa fa-star-o"></i>
                {% endif %}
            {% endfor %}
            <span class="reviews">
                ({{ product.get_review_count() }})
            </span>
        </div>
    {% endblock %}
    {% block product_add %}
        <div>
            <a href="{{ function('do_shortcode', '[add_to_cart_url id="'~product.id~'"]') }}" class="expand primary button add-cart">Add | ${{ product.get_price() }}</a>
        </div>
    {% endblock %}
    {% block product_excerpt %}
        <div class="excerpt">
            {{ product.post.post_excerpt|striptags|slice(0,150) }}...
        </div>
    {% endblock %}
    {% block product_link %}
        <h5><a href="{{ function("get_post_permalink", post.ID) }}">Learn More</a></h5>
    {% endblock %}
    {% block product_after %}{% endblock %}
</div>