<div class="row text-center">
    <div class="small-6 medium-4 large-3 columns medium-order-1">
        <div class="point">
            <img src="{{ highlights[0].image.url }}" />
            <h5>{{ highlights[0].heading }}</h5>
            <div>{{ highlights[0].content }}</div>
        </div>

        <div class="point">
            <img src="{{ highlights[1].image.url }}" />
            <h5>{{ highlights[1].heading }}</h5>
            <div>{{ highlights[1].content }}</div>
        </div>
    </div>
    <div class="small-6 medium-4 large-3 columns medium-order-3">
        <div class="point">
            <img src="{{ highlights[2].image.url }}" />
            <h5>{{ highlights[2].heading }}</h5>
            <div>{{ highlights[2].content }}</div>
        </div>

        <div class="point">
            <img src="{{ highlights[3].image.url }}" />
            <h5>{{ highlights[3].heading }}</h5>
            <div>{{ highlights[3].content }}</div>
        </div>
    </div>
    <div class="small-12 medium-4 large-6 columns medium-order-2">
        <img src="{{ highlights_box.url }}" />
    </div>
</div>
<div class="row column text-center promotion-cta">
    <h2>{{ highlights_header }}</h2>
    <a href="{{ shop_url }}" class="primary button">Store</a>
</div>